@font-face {
  font-family: 'FiraSans-Regular';
  src: url('FiraSans-Regular.eot');
  src: url('FiraSans-Regular.woff2') format('woff2'),
       url('FiraSans-Regular.woff') format('woff'),
       url('FiraSans-Regular.ttf') format('truetype'),
       url('FiraSans-Regular.svg#FiraSans-Regular') format('svg'),
       url('FiraSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

